<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    <style>
        body{text-align: center;font-size: larger;}
    </style>
</head>
<body>
    <p> <%= name %> 會員您好</p>
    <input type ="button" onclick="javascript:window.location.href='http://localhost:8080/api/v1/login'" value="登出"></input>
</body>
</html>